html,
body {
	height: 100%;
	font-family: "Bitter", serif;
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1488px;
	margin: 0 auto;
	padding: 0 15px;
}

// =====================

.btn {
	display: inline-block;
	padding: 12px 24px;
	color: $white;
	background-color: $green;
	font-weight: 600;
	border-radius: $radius;
	font-size: 16px;
	line-height: 100%;
	transition: background-color 0.2s linear;
	@media (min-width: $hover-media) {
		&:hover {
			background-color: #277d1d;
		}
	}
}
