html,
body {
	height: 100%;
	font-family: "Bitter", serif;
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
	padding: 104px 0 0;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1488px;
	margin: 0 auto;
	padding: 0 15px;
}

// =====================

.btn {
	display: inline-block;
	padding: 12px 24px;
	color: $white;
	background-color: $green;
	font-weight: 600;
	border-radius: $radius;
	font-size: 16px;
	line-height: 100%;
	transition: background-color 0.2s linear;
	@media (min-width: $hover-media) {
		&:hover {
			background-color: #277d1d;
		}
	}
}

// ==============================

.index-block {
	padding: 120px 0;
}

.overtitle {
	font-family: $lato;
	letter-spacing: 0.08em;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: $green;
	text-transform: uppercase;
}

.title {
	font-weight: 700;
	font-size: 39px;
	line-height: 46/39 * 100%;
	color: $black;
	margin: 0 0 40px;
}

// ========item-easy=============

.item-easy {
	flex: 0 0 464px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	border: 1px solid #f3f4f6;
	padding: 40px;
	margin: 6px;

	&__image {
		position: relative;
		border-radius: 4px;
		width: 100%;
		padding: 0 0 63%;
		margin: 0 0 32px;
		img {
			@include images;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28/24 * 100%;
		color: $black;
		margin: 0 0 8px;
	}

	&__title--green {
		color: $green;
		margin: 0 0 24px;
	}

	&__descript {
		font-size: 20px;
		line-height: 30/20 * 100%;
		color: $text;
	}
}

// ==========item-date=====================

.item-date {
	&__box {
		display: flex;
		margin: 0 -12px;
	}

	flex: 0 0 47.8%;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
	border-radius: $radius;
	background-color: #fff;
	padding: 40px;
	display: flex;
	margin: 0 12px;

	&__image {
		position: relative;
		flex: 0 0 46.9%;
		height: 94.4%;

		img {
			@include images;
		}
	}

	&__content {
		padding-left: 40px;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28/24 * 100%;
		color: $black;
		margin: 0 0 8px;
	}

	&__descript {
		font-family: $lato;
		font-weight: 400;
		font-size: 20px;
		line-height: 30/20 * 100%;
		color: $text;
		margin: 0 0 24px;
	}

	&__bottom {
		display: flex;
	}

	&__calendar {
		position: relative;
		display: flex;
		margin: 0 16px 0 0;
	}

	&__name-calendar {
		font-family: $lato;
		font-weight: 700;
		color: $green;
		line-height: 149%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
	}

	&__count {
		font-family: $lato;
		font-weight: 600;
		font-size: 18px;
		line-height: 148%;
		color: #374151;
	}

	&__calendar-img {
		transform: translateY(4px);
	}
	&__right-date {
		padding-left: 16px;
	}

	&__btn {
		display: flex;
		align-items: center;
		padding: 8px 16px;
		border: 2px solid $green;
		border-radius: $radius;
		color: $green;
		font-size: 18px;
		line-height: 100%;
		transition: color 0.2s linear, border-color 0.2s linear;
		@media (min-width: $hover-media) {
			&:hover {
				border-color: $text;
				color: $text;
			}
		}
	}
}

// =======================Верхняя часть блока с зелёной стрелкой========

.top-block {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__main {
		flex: 0 0 60%;
	}

	&__link {
		position: relative;
		display: inline-block;
		transform: translateY(6px);
		color: $green;
		font-weight: 700;
		font-size: 18px;
		line-height: 28/18 * 100%;
		padding-right: 24px;

		&::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			right: 0;
			top: 2px;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url(../images/index/news/arrow.svg);
		}
	}
}

// =========Большая статья=====================

.article-big {
	display: flex;
	padding: 40px;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
	border-radius: $radius;
	border: 1px solid $border-color;
	margin: 0 0 40px;

	&__image {
		position: relative;
		flex: 0 0 50.2%;
		padding: 0 0 26.2% 0;
		img {
			@include images;
		}
	}
}

.article-content {
	padding: 34px 0 0 40px;
	&__overtitle {
		text-transform: uppercase;
		line-height: 150%;
		color: $grey;
		font-family: $lato;
		letter-spacing: 0.08em;
		margin: 0 0 8px;
		font-weight: 700;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28/24 * 100%;
		color: $black;
		margin: 0 0 8px;
	}

	&__descript {
		font-family: $lato;
		font-size: 20px;
		line-height: 150%;
		color: $text;
		margin: 0 0 24px;
	}
}
// =========
.link-green {
	display: inline-block;
	font-weight: 700;
	color: $green;
	font-size: 18px;
	line-height: 24 / 18 * 100%;
	position: relative;
	padding-right: 24px;
	transition: opacity 0.2s linear;
	&::before {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../images/index/news/arrow.svg);
		right: 0;
		top: 0;
	}

	@media (min-width: $hover-media) {
		&:hover {
			opacity: 0.6;
		}
	}
}
// ===========

// ============маленькие карточки со статьями=============

.many-articles {
	&__item {
		border: 1px solid $border-color;
		box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
		border-radius: $radius;
		padding: 40px;
		background-color: #fff;
	}

	&__image {
		position: relative;
		width: 100%;
		height: 200px;
		margin: 0 0 40px;
		img {
			@include images;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28 / 24 * 100%;
		color: $black;
	}

	&__descript {
		font-family: $lato;
		font-size: 20px;
		line-height: 150%;
		margin: 0 0 24px;
		color:$text;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__date {
		font-family: $lato;
		line-height: 150%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		font-weight: 700;
		color: $grey;
	}
}

.three-articles {
	display: flex;
	.many-articles {
		&__item {
			flex: 0 1 33.333%;
		}
	}
}
