.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #fff;
    &__inner {
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 139px;
        height: 40px;
        display: inline-block;
        margin: 0 40px 0 0;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__language {
        margin: 0 auto 0 0;

        select {
            border: none;
        }
    }

    &__btn-box {
        margin-left: auto;
    }
}

.header-menu {
    &__list {
        display: flex;
    }
    &__item + &__item {
        margin-left: 40px;
    }

    &__link {
        font-size: 16px;
        line-height: 28/16 * 100%;
        color: $black;
        transition: color 0.2s linear;
        @media (min-width: $hover-media) {
            &:hover {
                color: rgba(31, 41, 55, 0.7);
            }
        }
    }
}
