@import "../vars";

.index-page {
    .home {
        padding: 106px 0 167px;
        &__inner {
            display: flex;
            align-items: center;
        }

        &__title {
            position: relative;
            font-weight: 700;
            font-size: 96px;
            line-height: 100%;
            color: $title-color;
            margin: 0 0 40px;
            max-width: 520px;
            span {
                color: $green;
            }
        }

        &__content {
            flex: 0 1 42.2%;
            padding: 0 15px 0 0;
        }
    }

    .home-image {
        position: relative;
        flex: 0 1 830px;
        &__box {
            position: relative;
        }
        &__picture {
            position: relative;
            width: 100%;
            padding: 0 0 63.8%;
            z-index: 1;
            img {
                @include images;
            }
        }

        &__element {
            position: absolute;
            // width: 639px;
            width: 77%;
            // height: 639px;
            padding: 0 0 77%;
            bottom: -41%;
            left: 12%;
            z-index: 0;
            img {
                @include images;
            }
        }
    }

    .home-btns {
        &__transparent {
            margin-left: 24px;
            background-color: transparent;
            border: 2px solid $green;
            color: $green;
            transition: background-color 0.2s linear, color 0.2s linear;
            @media (min-width: $hover-media) {
                &:hover {
                    background-color: $green;
                    color: $white;
                }
            }
        }

        &__green,
        &__transparent{
            padding: 16px 24px;
        }
    }

    @media(max-width: $md-1){
        .home__title{
           font-size: 80px;
        }
    }

    @media(max-width: $md-2){
        .home{
            padding: 40px 0;
            &__title{
                font-size: 65px;
            }
           
        }
    }

    
    @media(max-width: $md-3){
        .home{
            padding: 24px 0 40px;
            &__title{
                font-size: 65px;
            }

            &__inner{
                flex-direction: column-reverse;
                align-items: flex-end;
                width: 100%;
            }
            &__content{
                margin: 64px 0 0;

            }
           
        }

        .home-image{
            flex: none;
            width: 100%;
        }
    }

    @media(max-width: $md-4){

        .home{
            &__title{
                font-size: 60px;
            }
        }

        .home__content{
            padding: 0;
        }

        .home-btns__green,
        .home-btns__transparent{
            display: block;
            width: 100%;
            text-align: center;
            padding: 16px 24px;
            font-size: 18px;
        }

        .home-btns__transparent{
            margin-left: 0;
            margin-top: 24px;
        }
    }
}



// ==========================================================================

.services {
    background-color: $pink;

    &__box {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px -33px;

        @media(max-width: $md-3){
            margin: 0 0 -24px; 
        }
    }
}

// ===========================================================================

.partners {
    &__overtitle,
    &__title {
        text-align: center;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: -28px 0;
    }

    &__item {
        position: relative;
        flex: 0 0 23.5%;
        height: 100px;
        margin: 28px 0;
        img {
            @include images;
        }
    }

    @media(max-width:$md-1){

        .partners{
            &__item{
                flex: 0 0 25%;
            }
        }
        
    }

    @media(max-width:$md-2){

        .partners{

            &__title{
                margin: 0 0 80px;
            }
            &__inner{
                justify-content: center;
            }
            &__item{
                flex: 0 0 31%;
            }
        }
        
    }

    @media(max-width:$md-3){

        .partners{
            &__inner{
                justify-content: center;
            }
            &__item{
                flex: 0 0 47%;
            }
        }
        
    }

    @media(max-width:$md-4){

        .partners{
            &__inner{
                margin: 0 0 -24px;
            }
            &__item{
                flex: 0 0 100%;
                margin: 0 0 24px;
                height: auto;
                padding: 0 0 29%;
            }
        }
        
    }
}

// =====================================================

.events{
    background-color: $pink;

    &__box{
        display: flex;
    }
}

// ====================================================



.news{
    background-color: #fff;
}


